* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  color: thistle;

  /* max-width: 1180px;
  max-height: auto;
  width: 100%;
  /* height: auto; */
  /* margin: 0 auto;
  overflow: hidden; */
}

.swiper {
  display: flex;
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.swiper-wrapper {
  box-sizing: content-box;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 80%;
  max-height: auto;
  /* max-height: 400px; */
  width: auto;
  height: auto;
  border-radius: 50%;
}

.swiper-button-prev {
  background-color: rgba(190, 169, 190, 0.349);
  left: 20px;
  border-radius: 45%;
  padding: 0 18px;
}

.swiper-button-next {
  background-color: rgba(201, 194, 201, 0.26);
  right: 20px;
  border-radius: 45%;
  padding: 0 18px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: salmon;
  color: thistle;
  font-size: 30px;
}

.swiper-pagination {
  background-color: transparent;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid thistle;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: thistle;
  opacity: 1;
}
